.dark-theme{
    background-color:#010101 !important;
    color: white !important;
}
hr {
    height: 1.5px;
    color: black;
    background-color: black
}

.r-corner {
    border-radius: 30px;
    border: 1px;
}